body {
  margin-top: 50px;
 }
 
 main {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #AAA;
  color: #333;
  padding: 20px;
  background-color: rgba(86, 168, 235, 0.548);
 }
 
 .word {
  font-kerning: 10px;
  font-size: 40px;
  padding: 10px;
  background-color: rgba(239, 248, 115, 0.527);
  width: 50%;
  margin: 1em auto;
 }
 .alphabets {
  margin: 20px;
 }
 .donebutton{
   height: 50px;
   font-size: 30px;
   color: white;
   background-color: black;
 }
 #footer {
  text-align: right;
  margin: 1em auto;
 }